
*{
    margin: 0 auto;
    padding: 0;
}

.navbar{
    margin-top: 20px;
   

}

.nav{ 
    padding: 30px 0px;
    max-width: 1170px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}
.nav h3{
    position: absolute;
    margin-left: 65px;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.nav img{
    width: 48px;
    height: 56px;
}
.nav ul{
    display: flex;
    margin-left: 500px;

}

.nav li{
    display: flex;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;
    margin-right: 44px;
}
.nav a{
    text-decoration: none;
}

.banner{
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    height: 500px;
    flex-shrink: 0;
    margin: 0 auto;
    border-radius: 16px;
}
.banner img{
    display: flex;
    margin-top: 20;
    background: radial-gradient(rgb(28, 26, 26),);
    width: 1130px;
    height: 500px;
    flex-shrink: 0;

}

.banner-item h1{
    color: #0a0907;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}
.banner-item p{
    width: 676px;
    color: #f9f3f3;
    text-align: center;
    font-family: Mulish;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.banner-item input{
     border: none;
     text-align: center;
     font-size: 20px;
     border-radius: 8px;
     background: #FFF;
     width: 174px;
     height: 52px;
     flex-shrink: 0;
     
}

#cars{
     padding: 10px;
     margin: 10px;
     border: none;
     text-align: center;
     font-size: 20px;
     border-radius: 8px;
     background: #FFF;
     width: 174px;
     height: 52px;
     flex-shrink: 0;
}

.from-button{
    justify-content: space-between;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
    padding: 20px;
    margin: 10px;
     display: flex;
    
}

.banner-item{
    margin-left: 200px;
    align-content: center;
    position: absolute;
   top: 22%;
}

.popular-tours{
    padding: 90px;
    margin-top: 30px;
    width: 1170px;
    height: 500px;
    flex-shrink: 0;
    margin: 0 auto;
    display: flex;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
   line-height: 26px; /* 162.5% */


}

.popular-heding{
    width: 525px;
    padding: 30px;
}

.popular-heding h1{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.popular-heding button{
    text-decoration: none;
    background-color: tomato;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
    font-size: 20px;
}

.popular-tours-img img{
     margin-right: 20px;
     border-radius: 16px;
     background: url(<path-to-image>), lightgray 50% / cover no-repeat;
     width: 540px;
     height: 550px;
     flex-shrink: 0;
}

..your-destination{
    padding: 20px;
}
.your-destination h1{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.your-destination p{
   padding: 20px;
    margin: 0 auto;
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.portpolioimge{
    padding-top: 10px;
    justify-content: space-between;
    display: flex;
    width: 1170px;
    height: 500px;
    flex-shrink: 0;
      margin: 0 auto;
      margin-bottom: -190px;

}
.portpolioimge1{
     max-width: 100%;
    flex-shrink: 0;

    
}
.portpolioimge2{
    border-radius: 16px;
     max-width: 100%;
     flex-shrink: 0;
     
      
}

.portpolioimge1 h1{
    justify-content: center;
    position: absolute;
    margin: -160px auto;
    color: #f7eeee;
    margin-left: 190px;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.portpolioimge2 h1{
    justify-content: center;
    position: absolute;
    margin: -160px auto;
    color: #f7eeee;
    margin-left: 190px;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.why h1{

    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    padding-top: 20px;
}

.why p{

    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 643px;
    padding: 30px;

}

    .card{
        width: 1170px;
        flex-shrink: 0;
        display: flex;


    }
    .card1{
        
        width: 573px;
        height: 284px;
        flex-shrink: 0;
        border-radius: 16px;
        border: 1px solid rgba(41, 206, 246, 0.20);
        background: rgba(41, 206, 246, 0.05);
    }

    .card1 i{
        padding: 30px;
        font-size: 50px;
        width: 64px;
         height: 64px;
         flex-shrink: 0;
         color: aqua;
    }
   .card1 h1{

    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 10px;
   }

   .card1 p{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 10px;
   }

   .card2{
        
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(240, 103, 114, 0.05);

}

.card2 i{
    padding: 30px;
    font-size: 50px;
    width: 64px;
     height: 64px;
     flex-shrink: 0;
     color: aqua;
}
.card2 h1{

color: #131318;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding: 10px;
}

.card2 p{
color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
padding: 10px;
}
.carted{
    display: flex;
    margin-top: 30px;
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);


}
.carted3{
    
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.card3 i{
    padding: 30px;
    font-size: 50px;
    width: 64px;
     height: 64px;
     flex-shrink: 0;
     color: aqua;
}
.card3 h1{

color: #131318;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding: 10px;
}

.card3 p{
color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
padding: 10px;
width: 486px;
}

.discounts h1{
    margin-top: 30px;
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.discounts p{
    margin-bottom: 30px;
    padding: 10px;
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

 .discountsimg{
    margin-bottom: 20px;
    width: 1170px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
 }
 .discountsimg-title{
    width: 579px;
    height: 389px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(228, 215, 215, 0.8);
    backdrop-filter: blur(2.5px);
    align-items: center;
    justify-content: space-between;
    margin-top: -460px;
    margin-inline-end: 40px;
    

 }
 .discountsimg-title12{
    width: 579px;
    height: 389px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(228, 215, 215, 0.8);
    backdrop-filter: blur(2.5px);
    align-items: center;
    justify-content: space-between;
    margin-top: -460px;
    margin-inline-start: 40px;
    

 }
 .title{
    width: 1170px;
    height: 500px;
    flex-shrink: 0;

 }
 .title12{
    width: 1170px;
    height: 500px;
    flex-shrink: 0;

 }
 
 
 .discountsimg-title1{
    padding: 30px;
    display: flex;
    margin: 10px;


 }
 .discountsimg-title123{
    padding: 30px;
    display: flex;
    margin: 10px;


 }
 .discountsimg-title1 i{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    color: tomato;
    margin: 0px;
    padding: 0;
 }
 .discountsimg-title123 i{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    color: tomato;
    margin: 0px;
    padding: 0;
 }
 .discountsimg-title1 h6{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
 }
 .discountsimg-title123 h6{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
 }
 .h1title{

    width: 452px;
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 10px;
 }
 .ptitle{

      width: 452px;
      color: #5A5A5D;
      font-family: Mulish;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      padding: 10px;

 }

 .discountsimg-title1 h2{

    width: 452px;
    color: #f3a807;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400; 
 }
 .h2title{

    color: #FF5400;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 452px;
    
 }

 .button{

    color: #FFF;
    margin: 50px;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background-color: tomato;
    border: none;
    border-radius: 05px;
    padding: 10px;
    
 }
@media screen and (max-width: 600px){

.nav li {
    display: none;}
}


@media screen and (max-width: 600px){

    .banner img {
        min-width: 100%;
        margin: 0 auto;
        width: 500px;
        height: 1170;
        padding: 0;
        position: absolute;
        margin-left: 200px;
    }
    .banner-item{
        width: 500px;
        height: 1170;
        flex-shrink: 0;
    }
    .banner-item h1{
        padding: 30px;
        margin: 0 auto;
        width: 500px;
        height: 1170;
        flex-shrink: 0;

    }
    .banner-item p{
        padding: 20px;
        margin: 0 auto;
        width: 500px;
        height: 1170;
        flex-shrink: 0;
    }
    .from-button{
        flex-direction: column;
        margin: 0 auto;
        width: 500px;
        height: 1170;
        flex-shrink: 0;
    }
    .popular-tours{
        flex-direction: column;
    }

    .your-destination{
           grid-template-columns: 1fr;

    }

    .portpolioimge2{

        grid-template-columns: 1fr;
    }
}